.dz-progress {
    display: none;
}

.carousel-control {
    width: 0px !important;
    /* background: white !important; */
}

.form-control:focus {
    border-color: #FF7B54;
}

.swal2-popup.swal2-toast .swal2-title {
    font-size: 14px !important;
}

.text-danger {
    color: #D9214E;
}

.text-danger small {
    color: #D9214E;
    text-transform: unset;
}

.search-input-box {
    margin: 0;
    width: 85%;
    font-size: 13px;
    height: 40px;
    color: #fff;
    padding: 0 2px;
    background: none;
    outline: none;
    border: none;
}

.search-input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
}
